.checkout label {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.checkout div input {
    width: 200px;
    margin: 2px;
}

#errors {
    color: red;
}


div#cartSummary {
    float: right;
    margin: .8em;
    color: Silver;
    background-color: white;
    padding: .5em .5em .5em 1em;
}

    div#cartSummary a {
        text-decoration: none;
        padding: .4em 1em .4em 1em;
        line-height: 2.1em;
        margin-left: .5em;
        background-color: #cfc7b6;
        color: Black;
        border-radius: 15px
    }

h2 {
    margin-top: 0.3em
}

#cartTable {
    width: 90%;
}

    #cartTable tfoot td {
        font-weight: bold;
    }

    #cartTable thead th {
        text-align: right;
    }

        #cartTable thead th:first-child {
            text-align: center;
        }

        #cartTable thead th:nth-child(2) {
            text-align: left;
        }

    #cartTable tbody td {
        text-align: right;
    }

        #cartTable tbody td:first-child {
            text-align: center;
        }

        #cartTable tbody td:nth-child(2) {
            text-align: left;
        }

    #cartTable tfoot tr td {
        text-align: right;
    }

p.actionButtons {
    text-align: center;
}

.actionButtons a, button.actionButtons {
    color: White;
    background-color: black;
    border: 1px solid black;
    padding: 15px;
}

div.item button {
    color: Black;
    background-color: #cfc7b6;
    float: right;
    margin-top: -50px;
    height: 40px;
    width: 100%;
    border-color: #cfc7b6;
}

body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}


div#header div.title, div.item h3, div.item h4, div.pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    color: black;
}

div#header {
    background-color: Black;
    color: white;
}

    div#header div.title {
        font-size: 2em;
        padding: .6em;
        background-color: #cfc7b6;
        width: 211px
    }

div#content {
    margin-left: 9em;
    padding: 1em;
}

div#categories {
    float: left;
    width: 15em;
    padding: .3em;
    background-color: #cfc7b6;
    height: 1500px;
}

div#header.catalog {
    float: left;
    width: 15em;
    padding: .3em;
    height: 1500px;
}

div.item {
    padding-top: .7em;
    margin-bottom: .7em;
    margin-left: 200px;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    background: #DCDCDC;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}

    div.item p {
        float: left;
        padding-right: 20px;
        margin-top: 20px;
    }

        div.item p img {
            margin-left: 20px;
            border-radius: 15px;
            filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
        }

    div.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    div.item h3 {
        font-size: 1.2em;
        margin: 0 0 .25em 0;
        text-align:center;
    }

    div.item h4 {
        font-size: 1.6em;
        margin: .4em 0 0 0;
        padding-bottom: 200px;
        text-align: center;
    }


div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 9em;
}

    div.pager a {
        font-size: 2em;
        color: silver;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        div.pager a:hover {
            background-color: #cfc7b6;
            border-radius: 15px;
            color:black;
        }

        div.pager a.selected {
            background-color: #DCDCDC;
            color: dimgray;
            border-radius: 15px;
        }

div#categories a {
    font: bold 1.3em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
    padding-top: 50px;
}

    div#categories a.selected {
        background: #DCDCDC;
        color: dimgray;
        border-radius: 15px;
    }

    div#categories a:hover {
        background: #DCDCDC;
        border-radius: 15px;
    }

    div#categories a.selected:hover {
        background-color: #cfc7b6;
        border-radius: 15px;
    }

thead {
    background: #8bbff7;
    padding: 20px;
    color: White;
}

th {
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.formcheck {
    background: #eadada;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 150px;
}

.input:checked {
    margin-left: 5px;
}
